<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMain">
	<select id="joinCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM member
		WHERE mRole <![CDATA[ >= ]]> 1 AND TO_CHAR(createdDate, 'yyyy-mm-dd') = '${cDate}'
	</select>
	
	<select id="salesSum" parameterType="String" resultType="Integer">
		SELECT NVL(SUM(sTotPrice), 0)
		FROM store
		WHERE TO_CHAR(sDate, 'yyyy-mm-dd') = '${sDate}'	
	</select>
	
	<select id="joinTot" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM member
		WHERE mRole <![CDATA[ >= ]]> 1 AND TO_CHAR(createdDate, 'yyyy-mm-dd') BETWEEN ('${sDate}') AND ('${eDate}')
	</select>
	
	<select id="salesTot" parameterType="String" resultType="Integer">
        SELECT NVL(SUM(sTotPrice), 0)
		FROM store
		WHERE TO_CHAR(sDate, 'yyyy-mm-dd') BETWEEN ('${sDate}') AND ('${eDate}')
	</select>
	
	<select id="reservPet" parameterType="String" resultType="Integer">
        SELECT NVL(COUNT(*),0)
		FROM reservation
		WHERE TO_CHAR(checkIn, 'yyyy-mm-dd') BETWEEN ('${sDate}') AND ('${eDate}')
	</select>
	
	<select id="bestStore" resultType="com.fin.app.admin.Admin">
		SELECT ROWNUM, a.*, p.pNum, pName, pPrice, pCateNum
		FROM ( SELECT storeDetailOptNum, RANK() OVER (ORDER BY SUM(sDetailQty) DESC) rank, SUM(sDetailQty) sumQty FROM storeDetail GROUP BY storeDetailOptNum ) a 
        LEFT OUTER JOIN storeDetailOpt d ON a.storeDetailOptNum = d.storeDetailOptNum
        JOIN product p ON d.pNum = p.pNum
		WHERE ROWNUM <![CDATA[ <= ]]> 5
		ORDER BY sumQty DESC
	</select>
	
	<select id="freeDelivTot" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM store
		WHERE sDelivCharge = 0 AND TO_CHAR(sDate, 'yyyy-mm-dd') BETWEEN ('${sDate}') AND ('${eDate}')
	</select>
	
	<select id="normalDelivTot" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM store
		WHERE sDelivCharge != 0 AND TO_CHAR(sDate, 'yyyy-mm-dd') BETWEEN ('${sDate}') AND ('${eDate}')
	</select>
	
</mapper>