@charset "UTF-8";

.petsitMain {
	font-size: 15px;
	font-family: "Spoqa Han Sans", "Noto Sans KR", sans-serif !important;
	color: rgb(57, 60, 71);
}

.petsitMain .searchDong {
   width: 475px;
    height: 59px;
   display: flex;
   border: 1.5px solid rgb(223, 227, 234);
   border-radius: 4px;
   box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
}
.petsitMain .searchDong:focus {
   outline: none;
   border: 1.5px solid rgb(113, 162, 255);
}

.petsitMain .reserve-detail {
	float: right;
    width: 50%;
    padding: 25px;
    text-align: left;
}


.petsitMain .dateBar {
	width: 475px;
    height: 59px;
	display: flex;
	border: 1.5px solid rgb(223, 227, 234);
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
}

.petsitMain .dateBar:focus {
	outline: none;
	border: 1.5px solid rgb(113, 162, 255);	
}

.petsitMain .checkDate {
	border: none;
	text-align: center;
	height: 56px;
	width:200px;
}

.petsitMain .checkDate:focus {
	outline:none;
	border-bottom: 3px solid rgb(113, 162, 255);
}
 
.petsitMain .fas fa-arrow-right {
     margin-top: 10px;
}

.petsitMain .dateButton {
	width: 23px;
	height: 27px;
	background-color: white;
	border: none;
	margin-top: 13px;
	margin-left: 15px;
}

.petsitMain .checkinCal {
	height: 56px;
	margine: none;
	padding: none;
}

.petsitMain .pointR {
	padding: 17px 0px 0px
}

.petsitMain .search ul, .search li {
	list-style: none;
	padding-left: 0px;
	padding-right: 15px;
	float: left;
}

.petsitMain .search {
	width: 100%;
	height: 322px;
	padding: 25px;
	border-bottom: 1px solid rgb(231, 233, 235);
	box-shadow: rgb(0 0 0 / 5%) 0px 2px 20px;
}
.petsitMain .searchAddr {
	float: left;
	width: 50%;
	padding: 25px;
	text-align: left;
}
.petsitMain .searchDate {
	float: left;
	width: 50%;
	padding: 25px;
	text-align: left;
}
.petsitMain .searchCondition {
	float: left;
	width: 70%;
	padding: 25px;
	text-align: left;
}
.petsitMain .condition {
	width: 122px;
    height: 55px;
    line-height: 52px;
    display: flex;
	border: 1.5px solid rgb(223, 227, 234);
	border-radius: 28px;
	box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
	text-align:center;
	vertical-align:middle;
    justify-content: center;
}
.petsitMain .condition p {
	font-size: 15px;
    font-weight: 500;
    color: rgb(187, 193, 204);
}
.petsitMain .searchButton {
	float: left;
	width: 30%;
	padding: 33px;
	padding-right: 0px;
}
.petsitMain .button {
	width: 250px;
    height: 60px;
    line-height: 60px;
    background: rgb(113, 162, 255);
    margin-top: 25px;
    border-radius: 7px;
    display: flex;
	text-align:center;
	vertical-align:middle;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
}

.petsitMain .petList {
	width: 100%;
	height: 550px;
	padding: 25px;
	margin-top: 50px;
	border-bottom: 1px solid rgb(231, 233, 235);
	box-shadow: rgb(0 0 0 / 5%) 0px 2px 20px;
	text-align: rignt;
}


.petsitMain .cardEach {
	margin-left: 10px;
	margin-right: 10px;
	float:left;
	

}

.petsitMain .cardEach .cardEachL {
    clear: both;
}


.petsitMain .titleL {
	float: left;
	margin-left: 30px;
	font-weight: 600;
	font-size: 27px;
	text-align: center;
	vertical-align: middle;
}

.petsitMain .titleR {
	float: right;
	margin-right: 30px;
	border: 1px solid rgb(129, 137, 155);
    border-radius: 5px;
    width: 94px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.petsitMain .sitterL {
	width: 100%;
	height: 650px;
	padding: 15px;
	margin-top: 50px;
	border-bottom: 1px solid rgb(231, 233, 235);
}

.petsitMain .petListTitle {
	width: 100%;
	height: 60px;
	text-align: center;
}

.petsitMain .petListMore {
	width: 30%;
	float: left;
	padding-right: 7px;
	padding-bottom: 15px;

}

.petsitMain .petListMore div {
	width: 83px;
    height: 38px;
    line-height: 34px;
    display: flex;
	border: 1.5px solid gray;
	border-radius: 6px;
	box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
	text-align:center;
	vertical-align:middle;
    justify-content: center;
}

.petsitMain .petListMore div p {
	font-size: 15px;
    font-weight: 500;
    color: rgb(105, 105, 105);
}

.petsitMain .petListItem {
	width: 100%;
	text-align: center;
	height: 450px;	
	margin: 0 auto;
}

.petsitMain .info {
	width: 25%;
	float: left;
}
.petsitMain .info img {
	width: 230px;
    height: 163px;
    border-radius: 5px;
}

.petsitMain .petListItem ul, .petListItem li {
	list-style: none;
	padding-left: 0px;
}
.petsitMain .grade {
	font-size: 8px;
	color: rgb(113, 162, 255);
}
.petsitMain .grade span {
	font-size: 10px;
	font-weight: 700;
	color: black;
}